<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Pengingat</title>
<!-- Custom fonts for this template-->
<link href="sb-admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
<!-- Page level plugin CSS-->
<link href="sb-admin/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" />
<!-- Custom styles for this template-->
<link href="sb-admin/css/sb-admin.css" rel="stylesheet" />
</head>

<body class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Input Pengingat</div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <div class="form-label-group">
              <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="required" autofocus="autofocus">
              <label for="inputEmail">ID</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="required" autofocus="autofocus">
              <label for="inputEmail">Catatan</label>
            </div>
          </div><div class="form-group">
            <div class="form-label-group">
              <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="required" autofocus="autofocus">
              <label for="inputEmail">Tanggal Sebelum Aktif</label>
            </div>
          </div><div class="form-group">
            <div class="dropdown form-group">
						<button type="button" class="btn btn-primary dropdown-toggle form-control" data-toggle="dropdown">Kategori</button>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Normal</a> 
							<a class="dropdown-item active" href="#">Active</a> 
							<a class="dropdown-item disabled" href="#">Disabled</a>
						</div>
					</div>
          </div>
          <a class="btn btn-primary btn-block" href="pengingat.html">Simpan</a>
        </form>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

</body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>
